google-generativeai==0.8.3
pandas==2.2.3
pillow==10.4.0
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.39.0
scipy==1.14.1
altair==5.4.1
numpy==2.1.2
protobuf==5.28.2
pytest==8.3.3
pytest-mock==3.14.0